
<div *ngIf="!examFailMessage">
<div class="llce-exam">

  <h1 class="exam">Exam Mode</h1>

  <div class="question-container">
    <h2>Question {{ currentQuestion + 1 }} of {{ totalQuestions }}:</h2>
    <p>{{ question.qtxt }}</p>

    <div *ngIf="question.qtyp === 'mc' || question.qtyp === 'sc'">
      <div class="answer-container" *ngFor="let answer of question.qanswers; let i = index">
        <label>
          <input type="checkbox" *ngIf="question.qtyp === 'mc'" name="answer" [(ngModel)]="answer.givenanswer" [disabled]="whatIsCorrect" />
          <input type="checkbox" *ngIf="question.qtyp === 'sc'" name="answer" [(ngModel)]="answer.givenanswer" [disabled]="whatIsCorrect" />
          {{ answer.txt }}
        </label>
      </div>
    </div>
  </div>

    <div *ngIf="question.qtyp === 'fi' ">
      <ng-container *ngIf="question.qtyp === 'fi'">
        <input
          type="text"
          [(ngModel)]="question.qgivenanswerFillIn"
          (input)="handleInputChange($event)"
          placeholder="Type your answer..."
        />
      </ng-container>
      </div>

      <div class="buttons-container">
        <button (click)="prevQuestion()" [disabled]="currentQuestion === 0">
          Previous
        </button>
        <button (click)="nextQuestion()" [disabled]="currentQuestion === questions.length - 1">
          Next
        </button>
        <button (click)="skipQuestion()">
          Skip
        </button>
        <button (click)="finish()" [disabled]="currentQuestion < questions.length - 1">
          Finish
        </button>
      </div>
      <br>
      <button routerLink="/main">Go back to Main</button>

    </div>
  </div>

<div class="exam-fail-message" *ngIf="examFailMessage">
  "You did not pass the exam. Please review the Learn mode."
  <br>
  <button routerLink="/learn">Go back to Learn</button>
</div>
