
<div class="llce-check">
  <h1 class="check-mode">You are in a Check Mode</h1>

  <div class="results">
    <div class="result-item">
      Question 1: <span class="correct-answer">Correct</span>
    </div>
    <div class="result-item">
      Question 2: <span class="incorrect-answer">Incorrect</span>
    </div>


    <!-- Add more result items as needed -->
  </div>
  <div class="buttons-container">
    <button routerLink="/check-sc">Single choice</button>
    <button routerLink="/check-mc">Multiple choice</button>
    <button routerLink="/check-fi">Fill In</button>
  </div>

</div>
<br>
<button routerLink="/main">Go back to Main</button>
