<div class="llce-learn">
  <h1 class="learn-mode">You are in a Learn Mode</h1>

  <div class="results">
    <div class="result-item">
      Question 1: <span class="correct-answer">Correct</span>
    </div>
    <div class="result-item">
      Question 2: <span class="incorrect-answer">Incorrect</span>
    </div>


    <!-- Add more result items as needed -->
  </div>

  <div class="buttons-container">
    <button routerLink="/learn-single">Learn single</button>
    <button routerLink="/learn-list">Learn list</button>
  </div>

</div>
<br>
<button routerLink="/main">Go back to Main</button>
