.question-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.learn-list {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.toggle-button {
  margin-top: 10px;
}

.correct-toggle {
  background-color: green;
  color: white;
}

.buttons-container {
  margin-top: 20px;
}

.buttons-container button {
  margin-right: 10px;
}
