.llce-learn-single {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}
.question-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}
.learn-single {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.answer-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
.toggle-button {
  margin-left: 10px;
}
.correct-toggle {
  background-color: green;
  color: white;
}
/* .navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
} */
.buttons-container {
  margin-top: 20px;
}
.buttons-container button {
  margin-right: 10px;
}
